{{sortable-items
  itemCollection=model
  animation=100
  handle=".item__handle"
  filter=".item--pinned"
  draggable=".item--sortable"
  ghostClass="item--ghost"
  onItemMoveAction="itemMoved"
  templateName="sortable-items-partial"
  noItemText="<div style='text-align:center'>No items found</div>"
}}